#root {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
